page-detail {

}
ion-select {
        padding-left: 1px!important;
    width: 100% !important;
    }

ion-input{
   float: right;  
    width: 100% !important;
    padding-left: 0!important;
}

.select-text{
    text-align: left !important;
}